SECRET_KEY=a65e83b3e7bc89df0167939a254e524bcf139141dd681f2692e76e323ec6d345
JWT_SECRET=88c000db9de0a5546aab9d17e18ee0baa954d229db4cf9132e60acc064af1778
DATABASE_URL=mysql+pymysql://root:root@localhost/smartmeet
OPENAI_API_KEY=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
AWS_ACCESS_KEY_ID= 
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=smartmeet-reports-150572493099-ap-southeast-2-an
AWS_REGION=ap-southeast-2
SENDGRID_API_KEY=
FROM_EMAIL=reports@smartmeet.ai
ENCRYPTION_KEY=80dd60bba4ffd9c0d5bb5ac025a0954dc2d465286ac805eb5e95c1c967a73290
ALLOWED_ORIGINS=http://localhost:3000
